/*.segundapag{
    color: rgb(14, 181, 181);
}
p{
    color: black;
}
.Imagen:hover{
    width: 500px;
    height: 500px;
    transition: all 2s;
}
.home:hover{
    color: red;
    transition: all 2s;

}